<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>チャットホームページ</h1>
    <form th:action="@{/each/post}" method="post">
     <label>名前：<input type="text" name ="name" ></label><br>
    <label>コメント：<input type="text" name="name"></label><br>
    <button type="submit">投稿！</button>
</form>
<ul>
    <li th:each="user : ${messages}">
        <strong th:text="${user.name}"></strong>: <span th:text="${user.comment}"></span>
    </li>
</ul>

</body>
</html>
<!-- 分からない。要復習 -->